{% extends "base.html" %}

{% block title %}Favoritos{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1><span class="nav-link">Hola, {{ request.user.username }}</span></h1>
    </div>
    <h2>Mis tickets</h2>
    <div class="table-responsive mb-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Evento</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Precio total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ ticket.event.title }}</td>
                    <td>{{ ticket.event.date|date:"d/m/Y" }}</td>
                    <td>{{ ticket.quantity }}</td>
                    <td>${{ ticket.total }}</td>
                    <td>
                        <!-- Ver evento. -->
                         {% if ticket.event %}
                        <a href="{% url 'event_detail' ticket.event.id %}" class="btn btn-sm btn-outline-primary me-1" title="Ver evento">
                            <i class="bi bi-eye"></i>
                        </a>
                        {% endif %}

                        <!-- Comprar más TERMINAR DE CONFIGURAR -->
                        <a href="{% url 'carrito' ticket.event.id %}" class="btn btn-sm btn-outline-success me-1" title="Comprar más">
                            <i class="bi bi-cart-plus"></i>
                        </a>

                        <!-- Pedir reembolso. TERMINAR DE CONFIGURAR -->
                        <a href="{% url 'refund_requests' ticket.id %}" class="btn btn-sm btn-outline-danger" title="Pedir reembolso">
                            <i class="bi bi-cash"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Aún no has comprado tickets.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2 class="mb-3">Mis Notificaciones</h2>
    <div class="mb-5">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Título</th>
                        <th>Mensaje</th>
                        <th>Prioridad</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% if unread_notifications %}
                        {% if unread_notifications|length > 5 %}
                            <tr class="table-light">
                                <td colspan="4" class="text-center">Mostrando las últimas 5 notificaciones</td>
                            </tr>
                        {% endif %}
                        {% for notif in unread_notifications %}
                            <tr>
                                <td>{{ notif.title }}</td>
                                <td>{{ notif.message }}</td>
                                <td>{{ notif.priority }}</td>
                                <td>{{ notif.created_at|date:"d/m/Y H:i" }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="table-light"><td colspan="4" class="text-center">No tenés notificaciones nuevas.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="text-end mt-3">
            <a href="{% url 'notifications' %}" class="btn btn-warning rounded-pill fw-bold px-4 py-2">Ver Todas</a>
        </div>
    </div>     
    
    <h2 >Mis Datos</h2>
    <div class="card mb-5">
        <div class="card-body">
            <p><strong>Nombre:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>
            <p><strong>Username:</strong> {{ request.user.username }}</p>
            <p><strong>Fecha de registro:</strong> {{ request.user.date_joined|date:"d M Y" }}</p>
        </div>
    </div>    
</div>
{% endblock %}

                  