{% extends "base.html" %}

{% block title %}Eventos{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Eventos</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Acciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events%}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.date|date:"d/m/Y" }}</td>
                    <td>
                        <div class="hstack gap-1">
                            <a href="{% url 'event_detail' event.id %}"
                               class="btn btn-sm btn-outline-primary"
                               aria-label="Ver detalle"
                               title="Ver detalle">
                                <i class="bi bi-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                    <!-- NO ESTARIA FUNCIONANDO
                    <td> 
                        <div class="hstack gap-1">
                            <a href="{% url 'event_detail' event.id %}"
                            class="btn btn-sm btn-outline-primary"
                            aria-label="Ver detalle"
                            title="Ver detalle">
                                <i class="bi bi-eye" aria-hidden="true"></i>
                            </a>

                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'toggle_favorito' event.id %}">
                                    {% csrf_token %}
                                    {% if event.favoritos.filter(user=user).exists %}
                                        <button class="btn btn-sm btn-warning" title="Quitar de favoritos">
                                            <i class="bi bi-star-fill"></i>
                                        </button>
                                    {% else %}
                                        <button class="btn btn-sm btn-outline-warning" title="Agregar a favoritos">
                                            <i class="bi bi-star"></i>
                                        </button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    </td>
                    -->

                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay eventos disponibles</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
