{% extends "base.html" %}

{% block title %}Favoritos{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Mis Eventos Favoritos</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Accciones</th>

            </tr>
        </thead>
        <tbody>
            {% for favorito in favoritos%}
                <tr>
                    <td>{{ favorito.event.title }}</td>
                    <td>{{ favorito.event.description }}</td>
                    <td>{{ favorito.event.date|date:"d/m/Y" }}</td>
                    <td>
                            <div class="hstack gap-1">
                                <!-- Botón ver evento-->
                                <a href="{% url 'event_detail' favorito.event.id %}"
                                    class="btn btn-sm btn-outline-primary"
                                    aria-label="Ver detalle"
                                    title="Ver detalle">
                                    <i class="bi bi-eye" aria-hidden="true"></i>
                                </a>
                                <!-- Botón para desmarcar como favorito.-->
                                     <a href="{% url 'toggle_favorito' favorito.event.id %}"
                                        class="btn btn-sm btn-outline-danger"
                                        aria-label="Quitar de favoritos"
                                        title="Quitar de favoritos">
                                        <i class="bi bi-heart-fill text-danger" aria-hidden="true"></i>
                                    </a>
                                    
                                    <!-- Botón para añadir al carro-->
                                    <a href="{% url 'carrito' favorito.event.id %}" 
                                       class="btn btn-sm btn-outline-success"
                                       aria-label="Añadir al carro"
                                       title="Añadir al carro">
                                       <i class="bi bi-cart-plus" aria-hidden="true"></i>
                                    </a>
                            </div>
                        </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No has marcado favoritos aún</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
