{% extends "base.html" %}

{% block title %}Rating de Eventos{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-center mb-4">Rating de Eventos</h1>
    </div>
    <h5 >Aquí podrá ver los eventos finalizados o cancelados con su respectiva calificación.</h5>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Puesto</th>
                <th>Evento</th>
                <th>Rating</th>
                <th>Fecha</th>
                <th>Estado</th> 
                {% if user.is_authenticated %}
                <th>Calificar</th>
                {% endif %}
            </tr>
        </thead>
       <tbody>
    {% for event in events %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{%url 'event_detail' event.id%}" style = "text-decoration: none;">{{ event.title }} </a></td>
            <td>
                {% if event.total_rating > 0 %}
                    <div class="text-warning fs-5">
                    {% for i in "12345"  %}
                        {% if forloop.counter <= event.total_rating %}
                        <i class="bi bi-star-fill"></i>
                        {% else %}
                        <i class="bi bi-star"></i>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% else %}
                    Sin calificación
                {% endif %}
            </td>
            <td>{{ event.date|date:"d/m/Y" }}</td>
            <td>
                {% if event.cancelado %}
                    <span class="badge bg-danger">Cancelado</span>
                {% else %}
                    <span class="badge bg-success">Finalizado</span>
                {% endif %}
            </td>
            <td>
                {% if user.is_authenticated %}
                    {% if event.id in eventos_con_ticket %}
                            {% if event.id in eventos_ya_calificados and event.user_rating %}
                                {% with rating=event.user_rating.0 %}
                                    <a href="{% url 'editar_rating' rating.id %}" class="btn btn-sm btn-outline-primary">Editar</a>
                                {% endwith %}
                            {% else %}
                                <a href="{% url 'crear_rating' event.id %}" class="btn btn-sm btn-outline-primary">Calificar</a>
                            {% endif %}
                    {% else %}
                        <span class="text-muted">Sin ticket</span>
                    {% endif %}
                
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5">No hay eventos disponibles.</td>
        </tr>
    {% endfor %}
</tbody>

    </table>
</div>
{% endblock %}
