//boton1 es para boton de busqueda
.button1,
.button2 {
    border-radius: 2rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.button1 {
    background-color: transparent;
    border: 1px solid $color_boton1;
    color: $color_boton1;

    &:hover {
        background-color: $color_boton1;
        color: black;
        box-shadow: 0 0 8px 2px rgba($color_boton1, 0.6);
    }
}

.button2 {
    background-color: $color_boton1;
    color: #000;

    &:hover {
        background-color: #fff;
        color: $color_boton1;
    }
}