{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Formulario de búsqueda debajo del navbar -->
{% include "app/search_form.html" %}

<!-- CARRUSEL DE EVENTOS DESTACADOS -->
<div class="container mt-2" id="carrusel-eventosDestacados-section">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicadores -->
    <div class="carousel-indicators">
      {% for event in events_destacados %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
        class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}"
        aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <!-- Slides -->
    <div class="carousel-inner">
      {% for event in events_destacados %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="part-carousel">
          <img src="{{ event.imagen_url_directa }}" alt="{{ event.title }}" class="d-block w-100">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <a href="{% url 'event_detail' event.id %}">
            <h5>{{ event.title }}</h5>
          </a>
          <p>{{ event.description|truncatechars:80 }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>

<!-- Carrusel de Categorías -->
<div class="container py-4" id="carrusel-categorias-section">
  <!-- Para anclar, tipo, si hacemos click en una categoria no vuelve al inicio de pagina arriba, se queda aca-->
  <h2 class="mb-4">Explorá por Categoría</h2>
  <div id="carrusel-categorias" class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {% for categoria in categorys %}

        <li class="glide__slide">
          {% if selected_category and selected_category.id == categoria.id %}
          <a href="{% url 'home' %}#carrusel-categorias-section">
            {% else %}
            <a href="{% url 'home' %}?category_id={{ categoria.id }}#carrusel-categorias-section">
              {% endif %}
              <div class="card h-100">
                <img src="{{ categoria.imagen_url_directa }}" class="card-img-top" alt="{{ categoria.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ categoria.name }}</h5>
                </div>
              </div>
            </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">‹</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">›</button>
    </div>
  </div>
</div>

<!-- Carrusel de Próximos Eventos -->
<div class="container py-4" id="carrusel-eventos-section">
  <h2 class="mb-4">Próximos Eventos{% if selected_category %}- {{ selected_category.name }}{% endif %}</h2>
  <div id="carrusel-proximos" class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {% for event in events_proximos %}
        <li class="glide__slide">
          <a href="{% url 'event_detail' event.id %}">
            <div class="card">
              <img src="{{ event.imagen_url_directa }}" class="card-img-top" alt="{{ event.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.date|date:"d/m/Y" }}</p>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
        <!-- Card de "Ver Más" -->
        <li class="glide__slide">
          <a href="{% url 'events' %}">
            <div class="card card-verMas">
              <div class="card-body">
                <h4 class="card-title">Ver más eventos</h4>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">‹</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">›</button>
    </div>
  </div>
</div>


{% endblock %}