.login-form,
.register-form {
  margin-top: 3rem;
  position: relative;

  .row {
    display: flex;
    justify-content: center;   // Centra horizontalmente
  }
  .card {
    display: inline-block;
    width: auto;
    max-width: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: none;
    margin: 0 auto;

    .card-body {
      padding: 1rem;
      overflow: visible;
    }

    .card-title {
      font-family: 'Inter', sans-serif;
      font-size: 2rem;
      font-weight: 700;
      color: #ffffff;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    
  }
  .text-login {
    font-size: 0.95rem;
    margin-top: 1rem;
    color: #eee;

    a {
      color: #e5ee65;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  form {
    .row {
      //margin-bottom: 1rem;
      align-items: center !important;

      label {
        display: flex;
        align-items: center !important;
        justify-content: flex-end; 
        text-align: right;
        min-height: 38px;
      }


      input, select, textarea {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 0.375rem;
        border: 1px solid #ccc;
        width: 100%;
        transition: border-color 0.2s;
        min-height: 38px;

        &:focus {
          border-color: #e5ee65;
          outline: none;
        }
      }

      .text-danger {
        font-size: 0.875rem;
      }
    }

    .alert {
      font-size: 0.95rem;
      padding: 0.5rem 1rem;
    }

    .btn {
      font-family: 'Inter', sans-serif;
      font-size: 1.125rem;
      font-weight: 600;
      padding: 0.75rem;
      border-radius: 0.5rem;
    }
  }

  .text-muted {
    font-size: 0.95rem;
    margin-top: 1rem;

    a {
      color: #e5ee65;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .col-md-8 {
    position: relative;
  }

  .form-text {
    position: absolute;
    font-size: 0.75rem;
    color: #6c757d; // color por defecto de Bootstrap para texto de ayuda
    margin-top: 2px;
  }
}